<div class="relationship-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  
    <div *ngIf="!loading && !hasData" class="no-data">
      <mat-icon>warning</mat-icon>
      <p>No data available to show</p>
    </div>
  
    <div *ngIf="!loading && hasData" class="hierarchy-view">
      <!-- <h2>Component Relationships</h2> -->
  
      <mat-accordion class="nodes-accordion">
        <mat-expansion-panel *ngFor="let node of hierarchicalNodes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="node-title">
                <mat-icon>{{isRootNode(node) ? 'account_tree' : isLeafNode(node) ? 'fiber_manual_record' : 'device_hub'}}</mat-icon>
                <span [class.root-node]="isRootNode(node)" [class.leaf-node]="isLeafNode(node)">
                  {{node.componentName}}
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <!-- Parents Section -->
          <div *ngIf="node.parents.length > 0" class="relationship-section">
            <h3>Upstream</h3>
            <mat-chip-set>
            <mat-chip *ngFor="let parentId of node.parents" color="primary" selected>
              {{ getComponentName(parentId) }}
            </mat-chip>
            </mat-chip-set>
          </div>
  
          <!-- Children Section -->
          <div *ngIf="node.children.length > 0" class="relationship-section">
            <h3>Downstream</h3>
            <mat-chip-set >
                @for (childId of node.children; track childId) {
              <mat-chip color="accent" selected>
                {{ getComponentName(childId) }}
              </mat-chip>
            }
            </mat-chip-set>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>