<div class="impact-analysis-container">
    <!-- <mat-progress-bar *ngIf="!impactData" mode="indeterminate"></mat-progress-bar> -->
  
    <div *ngIf="!impactData" class="no-data">
      <mat-spinner diameter="40"></mat-spinner>
        <p>Loading...</p>
    </div>
  
    <div *ngIf="impactData" class="impact-content">
      <!-- Change Details Card -->
      <mat-card class="change-details">
        <mat-card-header>
          <mat-card-title>Change  {{changeData.changeId}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Description:</strong> {{changeData.description}}</p>
          <p><strong>Category:</strong> {{changeData.category}}</p>
          <p><strong>Impacted CI(s):</strong> {{ impactData.affectedCIs?.length ? impactData.affectedCIs.join(', ') : '' }}</p>
          <!-- <mat-chip-set>
            <mat-chip [style.background-color]="getSeverityColor(impactData.severity)">
              Severity: {{impactData.severity}}
            </mat-chip>
          </mat-chip-set> -->
        </mat-card-content>
      </mat-card>
  
      <!-- Impact Analysis Cards -->
      <div class="impact-grid">
        <!-- Affected CI -->
        <!-- <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>build_circle</mat-icon>
              Affected CI
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="affected-ci">{{impactData.impactedCIs}}</p>
          </mat-card-content>
        </mat-card>
   -->
        <!-- Direct Impact -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>error</mat-icon>
              Affected CI's
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let ci of impactData.directImpact">
                <mat-icon matListItemIcon>arrow_right</mat-icon>
                {{ci}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
  
        <!-- Partial Impact -->
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>warning</mat-icon>
              Partially Affected CI's
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @if(impactData.partialImpact.length === 0){
              No Partially Affected CI's
            } @else {
              <mat-list>
                <mat-list-item *ngFor="let ci of impactData.partialImpact">
                  <mat-icon matListItemIcon>arrow_right</mat-icon>
                  {{ci}}
                </mat-list-item>
              </mat-list>
            }
          </mat-card-content>
        </mat-card>
  
        <!-- Infrastructure Components -->
        <!-- <mat-card>
          <mat-card-header>
            <mat-card-title>
              <mat-icon>router</mat-icon>
              Infrastructure Components
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let ci of impactData.infrastructureComponents">
                <mat-icon matListItemIcon>arrow_right</mat-icon>
                {{ci}}
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card> -->
      </div>
    </div>
  </div>