<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>PlantUML Diagram</mat-card-title>
    <!-- <mat-card-subtitle class="mat-body-1">This is test page</mat-card-subtitle> -->
    <div>
      <!-- <h2>PlantUML Diagram</h2> -->
      <textarea [(ngModel)]="plantUmlCode" rows="10" cols="50"></textarea>
      <button (click)="generateDiagram()">Render Diagram</button>
    </div>
    @if(diagramUrl){
      <div>
        <h3>Generated Diagram</h3>
        <img [src]="diagramUrl" alt="PlantUML Diagram" />
      </div>
    }
  </mat-card-content>
</mat-card>