<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="d-flex w-100 mb-4" style="justify-content: center;">
            <mat-card-title>Month-wise Distribution</mat-card-title>
            
        </div>
        <apx-chart 
        [series]="profitExpanceChart.series" 
        [dataLabels]="profitExpanceChart.dataLabels"
        [chart]="profitExpanceChart.chart" 
        [legend]="profitExpanceChart.legend" 
        [xaxis]="profitExpanceChart.xaxis"
        [yaxis]="profitExpanceChart.yaxis" 
        [grid]="profitExpanceChart.grid" 
        [fill]="profitExpanceChart.fill"
        [tooltip]="profitExpanceChart.tooltip" 
        [plotOptions]="profitExpanceChart.plotOptions"
        [colors]="profitExpanceChart.colors">
    </apx-chart>
    </mat-card-content>
</mat-card>