<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="position-relative shaper-wrapper">
      <div class="w-100 position-relative rounded bg-white auth-card">
        <div class="auth-body">
          
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="align-items-center justify-content-center d-none d-lg-flex">
                <img src="/assets/images/backgrounds/login3-bg.png" alt="login" style="max-width: 500px;height: 375px;" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex align-items-start align-items-lg-center justify-content-center">
                <div class="row justify-content-center w-100">
                  <div class="col-lg-11">
                    <h4 class="login-heading f-w-700 f-s-30 m-0 m-t-20">
                      &nbsp;&nbsp;Gen AI Powered ITSM &nbsp;&nbsp; Change Management
                    </h4>
                    <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput formControlName="uname" />
                        @if(f['uname'].touched && f['uname'].invalid) {
                        <mat-hint class="m-b-16 error-msg">
                          @if(f['uname'].errors &&
                          f['uname'].errors['required']) {
                          <div class="text-error">Name is required.</div>
                          } @if(f['uname'].errors &&
                          f['uname'].errors['minlength']) {
                          <div class="text-error">
                            Name should be 5 character.
                          </div>
                          }
                        </mat-hint>
                        }
                      </mat-form-field>

                      <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="password" formControlName="password" />
                        @if(f['password'].touched && f['password'].invalid) {
                        <mat-hint class="m-b-16 error-msg">
                          @if(f['password'].errors &&
                          f['password'].errors['required']) {
                          <div class="text-error">Password is required.</div>
                          }
                        </mat-hint>
                        }
                      </mat-form-field>

                      <div class="d-block d-lg-flex align-items-center m-b-12">
                        <mat-checkbox color="primary">Remember this Device</mat-checkbox>
                      </div>
                      <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
                        Sign In
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>