<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="filter-section">
            <mat-form-field appearance="outline">
                <mat-label>Period</mat-label>
                <mat-select [(value)]="selectedPeriod">
                    <mat-option *ngFor="let period of periods" [value]="period.value">
                        {{period.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="d-flex w-100 mb-4" style="justify-content: center;">
            <mat-card-title>Change Statistics</mat-card-title>
        </div>
        <div class="chart-container">
            <div class="chart-wrapper">
                <apx-chart
                    [series]="statusChartOptions.series"
                    [chart]="statusChartOptions.chart"
                    [labels]="statusChartOptions.labels"
                    [colors]="statusChartOptions.colors"
                    [legend]="statusChartOptions.legend"
                    [dataLabels]="statusChartOptions.dataLabels"
                    [tooltip]="statusChartOptions.tooltip"
                    [title]="statusChartOptions.title">
                </apx-chart>
            </div>
            <mat-divider></mat-divider>
            <div class="chart-wrapper">
                <apx-chart
                    [series]="typeChartOptions.series"
                    [chart]="typeChartOptions.chart"
                    [labels]="typeChartOptions.labels"
                    [colors]="typeChartOptions.colors"
                    [legend]="typeChartOptions.legend"
                    [dataLabels]="typeChartOptions.dataLabels"
                    [tooltip]="typeChartOptions.tooltip"
                    [title]="typeChartOptions.title">
                </apx-chart>
            </div>
            <mat-divider></mat-divider>
            <div class="stacked-chart-container mt-4">
                <apx-chart
                    [series]="stackedChartOptions.series"
                    [chart]="stackedChartOptions.chart"
                    [xaxis]="stackedChartOptions.xaxis"
                    [yaxis]="stackedChartOptions.yaxis"
                    [dataLabels]="stackedChartOptions.dataLabels"
                    [plotOptions]="stackedChartOptions.plotOptions"
                    [colors]="stackedChartOptions.colors"
                    [legend]="stackedChartOptions.legend"
                    [fill]="stackedChartOptions.fill"
                    [tooltip]="stackedChartOptions.tooltip"
                    [title]="stackedChartOptions.title">
                </apx-chart>
            </div>
        </div>
    </mat-card-content>
</mat-card>