<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-tab-group [(selectedIndex)]="selectedTab">

     <!-- Architecture Diagram tab -->
<mat-tab label="Architecture Diagram">
  <mat-card class="ci-section">
    <mat-card-content>
      <div class="architecture-diagram" *ngIf="!isLoadingImages && architectureDiagramBlob">
        <img [src]="architectureDiagramBlob" 
             (error)="handleArchitectureDiagramError()"
             alt="Architecture Diagram"
             class="diagram-image">
      </div>
      <div class="loader-container" *ngIf="isLoadingImages">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Loading diagram...</p>
      </div>
      <p class="placeholder-text" *ngIf="!architectureDiagramBlob && !isLoadingImages">
        <mat-icon>info</mat-icon>
        No architecture diagram available
      </p>
    </mat-card-content>
  </mat-card>
</mat-tab>

<!-- Script tab -->
<mat-tab label="Script">
  <mat-card class="ci-section">
    <mat-card-content>
      <div class="loader-container" *ngIf="isLoadingImages">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Loading script...</p>
      </div>

      <div class="script-container" *ngIf="!isLoadingImages && scriptBlob">
        <pre><code class="language-python">{{scriptBlob}}</code></pre>
      </div>

      <div class="placeholder-text" *ngIf="!isLoadingImages && !scriptBlob">
        <p>
          <mat-icon>info</mat-icon> No script available
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</mat-tab>

      <mat-tab label="Relationships">
        <mat-card class="ci-section">
          <mat-card-header>
            <!-- <mat-card-title>Parent Child Relationships</mat-card-title> -->
          </mat-card-header>
          <mat-card-content>
            <app-parent-child *ngIf="selectedTab === 2" [relationshipData]="relationshipData"></app-parent-child>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <!-- Impacted CIs Tab -->
      <mat-tab label="Affected CI's">
        <mat-card class="ci-section">
          <mat-card-header>
            <!-- <mat-card-title>Configuration Items Impact</mat-card-title> -->
          </mat-card-header>
          <mat-card-content>
            <app-affected-ci *ngIf="selectedTab === 3" [impactData]="impactData"></app-affected-ci>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      
      <!-- Impacted Users Tab -->
      <mat-tab label="Affected User Groups">
        <!-- Loader -->
        <div class="loader-container" *ngIf="isLoading">
          <mat-spinner diameter="50"></mat-spinner>
          <p class="loading-text">Processing the data...</p>
        </div>
      
        <!-- Traffic Data Table -->
        <mat-card class="traffic-section" *ngIf="!isLoading && trafficData && trafficData.length > 0">
          <mat-card-header>
            <mat-card-title>
              Impact Analysis for {{ affectedCi?.length ? affectedCi.join(', ') : '' }}
            </mat-card-title>
          </mat-card-header>
      
          <mat-card-content>
            <!-- Impact Type Legend -->
            <!-- <div class="impact-legend">
              <span class="legend-item">
                <mat-icon class="affected">lens</mat-icon> Affected
              </span>
              <span class="legend-item">
                <mat-icon class="direct">lens</mat-icon> Direct Impact
              </span>
              <span class="legend-item">
                <mat-icon class="partial">lens</mat-icon> Partial Impact
              </span>
            </div> -->
      
            <div class="table-container">
              <table mat-table [dataSource]="uniquePorts" class="mat-elevation-z8">
                <!-- Protocol Column (Fixed) -->
                <ng-container matColumnDef="protocol" sticky>
                  <th mat-header-cell *matHeaderCellDef> Port / Protocol </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.port}} / {{element.protocol}}
                  </td>
                </ng-container>
            
                <!-- Port Column (Fixed) -->
                <!-- <ng-container matColumnDef="port" sticky>
                  <th mat-header-cell *matHeaderCellDef> Port </th>
                  <td mat-cell *matCellDef="let element"> 
                    {{element.port}}
                  </td>
                </ng-container> -->
            
                <!-- Team Columns (Scrollable) -->
                <ng-container *ngFor="let team of getUniqueTeams()" [matColumnDef]="team">
                  <th mat-header-cell *matHeaderCellDef> {{team}} </th>
                  <td mat-cell *matCellDef="let element" class="checkmark-cell">
                    @if(hasPortAccess(element, team)){
                      <mat-icon class="affected">
                        check_circle
                      </mat-icon>
                    }@else {
                      N/A
                    }
                    
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"
                    [class.protocol-group]="isNewProtocolGroup(row)"></tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      
        <!-- No Data Message -->
        <div class="no-data" *ngIf="!isLoading && !trafficData?.length">
          <p class="placeholder-text">
            <mat-icon>info</mat-icon>
            No traffic data available
          </p>
        </div>
      </mat-tab>

      
    </mat-tab-group>
  </mat-card-content>
</mat-card>
           